extends layout

block content
  h1= title
  .row
    .col-md-3
      .nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
        a#clear-tab.nav-link.active(data-toggle='pill', href='#clearFriend', role='tab', aria-controls='clearFriend', aria-selected='true') *Clear All
        a#addFriend-tab.nav-link(data-toggle='pill', href='#addFriend', role='tab', aria-controls='addFriend', aria-selected='false') Add Friend
        a#getFriends-tab.nav-link(data-toggle='pill', href='#getFriends', role='tab', aria-controls='getFriends', aria-selected='false') Get Friend
        a#v-pills-commonFriends-tab.nav-link(data-toggle='pill', href='#v-pills-commonFriends', role='tab', aria-controls='v-pills-commonFriends', aria-selected='false') common Friends
        a#subscribe-tab.nav-link(data-toggle='pill', href='#subscribe', role='tab', aria-controls='subscribe', aria-selected='false') Subscribe
        a#block-tab.nav-link(data-toggle='pill', href='#block', role='tab', aria-controls='block', aria-selected='false') Block
        a#retrieve-tab.nav-link(data-toggle='pill', href='#retrieve', role='tab', aria-controls='retrieve', aria-selected='false') Retrieve
    .col-9
      .tab-content
        #clearFriend.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='clearFriend-tab')
          .intro
            label This API is for 
            
          button#clearBtn submit
          br
          include ./common/result
        #addFriend.tab-pane.fade(role='tabpanel', aria-labelledby='addFriend-tab')
          label email1:
          input#addPara1(type="text")
          br
          label email 2
          input#addPara2(type="text")
          br
          button#addBtn submit
          br
          include ./common/result
        #getFriends.tab-pane.fade(role='tabpanel', aria-labelledby='getFriends-tab')
          label email:
          input#getPara1(type="text")
          br
          button#getBtn submit
          br
          include ./common/result
        #v-pills-commonFriends.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-commonFriends-tab')
          label email1:
          input#commonPara1(type="text")
          br
          label email 2
          input#commonPara2(type="text")
          br
          button#commonBtn submit
          br
          include ./common/result
        #subscribe.tab-pane.fade(role='tabpanel', aria-labelledby='subscribe-tab')
          label requestor:
          input#subPara1(type="text")
          br
          label target
          input#subPara2(type="text")
          br
          button#subBtn subscribe
          br
          include ./common/result
        #block.tab-pane.fade(role='tabpanel', aria-labelledby='block-tab')
          label requestor:
          input#blockPara1(type="text")
          br
          label target
          input#blockPara2(type="text")
          br
          button#blockBtn block
          br
          include ./common/result
        #retrieve.tab-pane.fade(role='tabpanel', aria-labelledby='retrieve-tab')
          label sender:
          input#retrievePara1(type="text")
          br
          label text
          input#retrievePara2(type="text")
          br
          button#retrieveBtn retrieve
          br
          include ./common/result

